html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  /* Prevent screen width changing when scroll bar appears */
  /* Keep scroll bar permanently */
  /* https://stackoverflow.com/a/18548518 */
  overflow-y: scroll;
}

.navbar {
  background-color: #550000;
}

.link {
  color: #550000;
}

.link:hover {
  text-decoration: none;
}

.socials-btn {
  background-color: #550000 !important;
  border-color: #550000 !important;
}

footer .large-gold {
  margin: 20px;
}
footer .large-silver {
  margin: 15px;
}
footer .small-gold {
  margin: 10px;
}
