:root {
  /* headings */
  --bs-heading-color: #880000;

  /* links */
  --bs-link-color: #880000;
  --bs-link-color-rgb: 136, 0, 0;
  --bs-link-decoration: none;
  --bs-link-hover-color: #550000;
  --bs-link-hover-color-rgb: 85, 0, 0;
  a:hover {
    text-decoration: none;
  }
}
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h5 {
  color: black;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 2rem;
}
p {
  margin-bottom: 0.5rem;
}
figure {
  width: 100%;
  margin-top: 1rem;
}
.img-fluid {
  width: 100%;
}
li {
  margin-bottom: 0.5rem;
}

.btn-primary {
  --bs-btn-bg: #880000;
  --bs-btn-border-color: #880000;
  --bs-btn-hover-bg: #550000;
  --bs-btn-hover-border-color: #550000;
}

.navbar-dark {
  background-color: #550000;
}

.justify-self-center {
  justify-self: center;
}

html {
  /* Prevent screen width changing when scroll bar appears */
  /* Keep scroll bar permanently */
  /* https://stackoverflow.com/a/18548518 */
  overflow-y: scroll;
}

#banner-logo {
  @media (min-width: 992px) {
    max-width: 450px;
  }
  /* max-width: 400px; */
  max-width: 75%;
}

#main.container {
  @media (min-width: 992px) {
    max-width: 800px;
  }
}

footer {
  .large-gold {
    margin: 20px;
  }
  .large-silver {
    margin: 15px;
  }

  .small-gold {
    a {
      height: 90px;
    }
    img {
      margin: 10px;
    }
  }
}
