:root {
  /* headings */
  --bs-heading-color: #880000;
  h1 {
    text-align: center;
    margin-top: 1rem;
  }

  /* links */
  --bs-link-color: #880000;
  --bs-link-color-rgb: 136, 0, 0;
  --bs-link-decoration: none;
  --bs-link-hover-color: #550000;
  --bs-link-hover-color-rgb: 85, 0, 0;
  a:hover {
    text-decoration: none;
  }
}

.btn-primary {
  --bs-btn-bg: #880000;
  --bs-btn-border-color: #880000;
  --bs-btn-hover-bg: #550000;
  --bs-btn-hover-border-color: #550000;
}

.navbar-dark {
  background-color: #550000;
}

.justify-self-center {
  justify-self: center;
}

html {
  /* Prevent screen width changing when scroll bar appears */
  /* Keep scroll bar permanently */
  /* https://stackoverflow.com/a/18548518 */
  overflow-y: scroll;
}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

footer .large-gold {
  margin: 20px;
}
footer .large-silver {
  margin: 15px;
}
footer .small-gold {
  margin: 10px;
}
