#register-box {
    background-color: #EECCCC;
    border: 4px solid #222222;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.deadline-table {
	font-size: 20px;
	background-color: #FFFFFF;
	border-spacing: 3px;
}

@media only screen and (max-width: 1000px) {
	.deadline-table {
		width: 100%;
	}
}

.deadline-table td {
    padding: 15px 20px;
	border: 1px;
    background-color: #EEEEEE;
}

.deadline-table tr:nth-child(odd) {
    background-color: #EEEEEE;
}
.deadline-table .headrow td {
    background-color: #DD7777;
	color: white;
	font-weight: bold;
}
.deadline-table td:nth-child(2) {
	font-weight: bold;
}

.deadline-table .footnote {
	font-size: 16px;
}

.deadline-table .blankrow {
	height: 30px;
}

.register-box-strong {
    color: #3333BB;
    text-transform: uppercase;
}

.register-box-date {
    font-size: 28px;
}

.register_button {
    border: 0;
    padding: 10px 20px 10px 50px;
    background-color: #550000;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display: inline-block;
    background-image: url("check_icon.png");
    background-repeat: no-repeat;
    background-position: 14px 12px;
}
.register_button:hover {
    background-color: #AA0000;
    color: white;
    cursor: pointer;
}

.register_button#disabled {
    background-color: #888888;
    color: #DDDDDD;
    text-decoration: line-through;
}
 
.fees-row {
    margin: 3px auto;
    padding: 10px;
    background-color: #EEEEEE;
    width: 360px;
}
.fees-row:hover {
    background-color: #DDDDDD;
}
 
.fees-cell {
    display: inline-block;
    padding: 0px 0px 0px 10px;
    width: 180px;
}
.fees-total {
    background-color: #90EE90;
    padding: 10px 0px 10px 30px;
    width: 350px;
    border-radius: 0px;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}

p.restrictions {
    display: none;
    padding: 5px 15px;
    margin-top: 0px;
}

li.restrictions-heading {
    background-color: #FFEEEE;
    padding-left: 10px;
}

select {
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 0px 15px;
    font-size: 15px;
}

#testbox {
    border: 1px solid;
}
