#sponsor-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#sponsor-footer img {
    margin: 10px 10px 10px 10px;
    vertical-align: middle;
    opacity: 1.0;
}
#sponsor-footer img.squeeze {
    margin: 10px 0px 10px 0px;
}

#sponsor-footer img:hover {
    opacity: 0.8;
}